body{
    font-family: roboto;
    background-color: peachpuff;
    color:blueviolet;
}
a{
    text-align: center; 
    padding: 0 100px 0 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkgreen;
    
}
ul{
    list-style-type: none;
}
nav{
    display: inline;
    text-align: center;
    
    
}
h1,h2,h3{
    text-transform: uppercase;
    color: rebeccapurple;
    text-shadow: 1px 1px 2px rgb(14, 2, 4);
}
div{
    margin: 20px;
}
label{
    display: block;
}
input{
    /* margin-left: 20px; */
}

#resume:focus{
   width: 50px;
}
fieldset{
    width: 20%;
}

legend{
    text-transform: uppercase;

}

input[type='submit']{
    width: 100px;
    height: 20px;
    
}
video{
    width: 30%;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
}